<template>
  <div class="hello">
    <input type="text" name="title" v-model="newTitle">

    <button type="button" @click="createBook">
      Novo livro
    </button>

    <p v-for="book in books" :key="book.id">
      {{ book.title }}
    </p>
  </div>
</template>

<script>
import Book from '@/models/Book'

export default {
  name: 'HelloWorld',
  data () {
    return {
      newTitle: '',
      books: false,
    }
  },

  async mounted () {
    this.books = await Book.fetch()
  },

  methods: {
    createBook () {
      let newBook = new Book()
        newBook.title = this.newTitle
        
      newBook.save()
    }
  }
}
</script>
